body {
    background-color: #ecdab9;
    max-width: 720px;
    margin: 3px auto;
    font: 10pt "Montserrat Medium";
}

.main {
    padding-top: 40px;
}

.toDoList {
    font: 42pt "Montserrat ExtraBold";
    color: #909cac;
    padding: 240px;
}
.labelPriority {
    font: 14pt "Montserrat SemiBold";
    color: #a47053;
    margin: 100px 60px 0px 0px;
}
.priority{
    font: 12pt "Montserrat Light";
    border-radius: 9px;
    /*padding: 8px;*/
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    /*display: flex;*/
    /*vertical-align: middle;*/
    /*align-items: center*/
}
.new-task {
    font: 12pt "Montserrat Medium";
    border-radius: 9px;
    margin-top: 20px;
}

.add {
    border-radius: 6px;
    font: 14pt "Montserrat SemiBold";
    background-color: #efca66;
    color: white;
    margin-right: 10px;
    padding: 0 20px 0 20px;
}

.delete {
  cursor:pointer;
}

.tasks {
  margin: 0 auto;
  padding: 10px;
  background-color: white;
}

.middle {
    background-color:#cec3c8;
    width: 100%;
    height: 200px;
    margin: 30px auto;
    display: inline-block;
    font: 12pt "Montserrat Medium";
    color:	#a47053;
}

.filter {
    font: 12pt "Montserrat Light";
    border-radius: 9px;
    padding: 0 20px 0 20px;
}

.sortData {
    font: 12pt "Montserrat Light";
    border-radius: 9px;
    padding: 0 20px 0 20px;
}

.sortPriority {
    font: 12pt "Montserrat Light";
    border-radius: 9px;
    padding: 0 20px 0 20px;
}

.input2 {
    font: 12pt "Montserrat Medium";
    border-radius: 9px;
    margin-top: 20px;
}

.tasks-finish {
  margin: 0 auto;
  padding: 10px;
  background-color: #90EE90;
}
.tasks-cancel {
    margin: 0 auto;
    padding: 10px;
    background-color: #ffd1dc;
}
.inp {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: table-cell;
  vertical-align: middle
}

.button {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center
}


.lower{
    background-color:#cec3c8;
    width: 100%;
    margin: 10px auto;
    border: 1px solid #ccc;
    display: inline-block;
}

.lower.scroll{
  width: 10px;
  background-color: darksalmon;
}

.fin-tasks {
    font: 12pt "Montserrat Medium";
}

.unf-tasks {
    font: 12pt "Montserrat Medium";
}

.cancel-tasks {
    font: 12pt "Montserrat Medium";
}

/*.material-icons {*/
/*    margin: 0 10% 0 90%;*/
/*}*/

.icons-item{
    float: right;
}

.checked {
    /*margin: -20% 15% 0 85%;*/
}