body {
    background-color: #8affb9;
    max-width: 720px;
    margin:3px auto;
    font: 12pt/20pt sans-serif;
}

#upper {
    background-color: #e0ffad;
    width:  720px;
    height: 50px;
    margin: 10px auto;
    border: 1px solid #ccc;
    display: inline-block;
    display: flex;
    justify-content: center;
}

.delete {
  cursor:pointer;
}
#prioritet {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  vertical-align: middle;
  align-items: center
}

.tasks {
  margin: 0 auto;
  padding: 10px;
  background-color: white;
}
.tasks-finish {
  margin: 0 auto;
  padding: 10px;
  background-color: #ADFF2F
}
.tasks-cancel {
    margin: 0 auto;
    padding: 10px;
    background-color: #FA8072
}
.inp {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: table-cell;
  vertical-align: middle
}

.button {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center
}

#middle {
    background-color: #a5b3d6;
    width: 100%;
    height: 325px;
    margin: 30px auto;
    border: 1px solid #ccc;
    display: inline-block;
}

.lower{
    background-color:  #d2c7d6;
    width: 100%;
    height: 300px;
    margin: 10px auto;
    border: 1px solid #ccc;
    display: inline-block;
}

.lower.scroll{
  width: 10px;
  background-color: darksalmon;
}

.fin-tasks {
    height: 60px;
}

.unf-tasks {
    height: 120px;
}

.cancel-tasks {
    height: 60px;
}


